.parallax {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.parallax img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
}